# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iml

# Diretórios de compilação
target/
build/
out/

# Outros arquivos específicos do projeto
.DS_Store