name: Deploy API Gateway

on:
  push:
    branches: ["main"]
    paths:
      - "backend/api-gateway/**"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        working-directory: ./backend/api-gateway
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Validate Python syntax
        working-directory: ./backend/api-gateway
        run: |
          python -m py_compile main.py
          find . -name "*.py" -exec python -m py_compile {} \;

      - name: Deploy to Azure App Service
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "api-gateway-service-quiz"
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_API_GATEWAY }}
          package: ./backend/api-gateway
